# Python
__pycache__/
*.py[cod]
*$py.class
*.pyc

#Тесты
.coverage
.pytest_cache/
htmlcov/
.coverage.*

# Распределение пакетов
build/
dist/
*.egg-info/

# Виртуальное окружение
.venv/
venv/
env/

# IDE
.vscode/
.idea/

# OS
Thumbs.db