# Python
__pycache__/
*.py[cod]
*$py.class
*.pyc

#Тесты
.coverage
.coverage.*
coverage.xml
.pytest_cache/
htmlcov/

# Распределение пакетов
build/
dist/
*.egg-info/

# Виртуальное окружение
.venv/
venv/
env/

# IDE
.vscode/
.idea/

# OS
Thumbs.db

# git status --ignored